* {
    margin: 0;
    font-family: 'Work Sans';
}

/* Header Side Start */
.header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 500px;
    padding-bottom: 200px;
}

.title {
    color: white;
    text-align: right;
    text-decoration: none;
    padding-left: 800px;
    padding-right: 200px;
    padding-bottom: 24px;
    font-size: 50px;
    line-height: 70px;
    position: absolute;
    bottom: 480px;
}

.description {
    color: #FFFFFF;
    text-align: right;
    font-size: 15px;
    padding-top: 450px;
    padding-left: 750px;
    padding-right: 200px;
    line-height: 24px;
    margin-bottom: 500px;
}

.btn-now {
    background-color: white;
    border-radius: 5px;
    border: 0;
    color: #005FAC;
    font-size: 23px;
    font-family: 'Work Sans';
    margin-top: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Middle Side Start */

.title-and-image {
    display: flex;
    margin-top: 400px;
    margin-left: 300px;
    text-align: left;
    list-style: none;
}

.title-before-image {
    margin-left: 200px;
    margin-top: 200px;
    font-size: 50px;
    line-height: 76px;
    font-style: normal;
    padding-right: 300px;
}

.image-discription {
    margin-top: 30px;
    line-height: 26px;
    padding-left: 200px;
    padding-right: 350px;
    font-size: 16px;
    color: #444343;
}

.tips {
    padding-left: 220px;
    padding-top: 16px;
    font-size: 16px;
    line-height: 25px;
    font-style: normal;
    list-style: disc;
}

/* Logo Section Start */

.title-logo {
    text-align: center;
    margin-top: 130px;
    font-size: 40px;
}

.logo-section {
    display: flex;
    margin-left: 480px;
    margin-top: 50px;
    margin-bottom: 130px;
}

.head-title {
    font-size: 25px;
    padding-top: 16px;
    padding-bottom: 10px;
    text-align: center;
    justify-content: center;
}

.logo-2 {
    margin-left: 150px;
    margin-right: 150px;

}

.logo-3 {
    margin-right: 150px;
}

.description-logo {
    font-size: 18px;
}

/*Photo Section Start  */

.title-mindset {
    margin-left: 450px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding-right: 600px;
    padding-left: 64px;
    padding-top: 70px;
    padding-bottom: 135px;
    color: white;
    font-size: 40px;
    line-height: 50px;
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: 1140px;
}
.btn-call{
    background-color: white;
    border-radius: 5px;
    border: 0;
    color: #005FAC;
    font-size: 23px;
    font-family: 'Work Sans';
    margin-top: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* footer section Start */

.footer{
    background-color: black;
    padding-left: 150px;
}

.title-footer{
    font-size: 40px;
    color: white;
    padding-top: 150px;
    
}

.title-description{
    color: #FFFFFF;
    margin-right: 1250px;
    height: 35px;
}

.name{
    color: white;
    padding-bottom: 16px;
}

.email{
    color: #FFFFFF;
    padding-bottom: 16px;
}

.phone{
    color: #FFFFFF;
    padding-bottom: 32px;
}

.footer-icon{
    padding-bottom: 100px;
}

.Subscribe{
    text-align: right;
    color: #FFFFFF;
    font-size: 25px;
    padding-right: 480px;
}

.form{
    padding-left: 1150px;
}
input{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
    background-color: black;
    font-size: 18px;
    color: white;
    border: 1px solid ;
    border-radius: 5px;
    margin-bottom: 15px;
}



.button-footer{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 36px;
    padding-right: 36px;
    color: white;
    font-size: 20px;
    background-color: #005FAC;
    border-radius: 5px;
    margin-left: 1150px;
    margin-top: 48px;
}